<div id="nav_bg">
	<div id="nav">
		<%= link_to image_tag("logo.png", :alt => "CheerList Logo", :id => "logo",:height => 40,:width=> 200), "#" %>
		<div id="nav_links">
			<ul>
				<li>
					<%= link_to "Home", root_path %>
				</li>
				<li>
					<%= link_to "Games" %>
				</li>
        		<li>
					<%= link_to "Teams",:controller=> "teams",:action=>"index"%>
				</li>
				<li>
					<%= link_to "Leaderboard" %>
				</li>
				<% if signed_in? %>
				<li>
				 	<%= link_to current_user1.email, user_path(current_user1)%>
				</li>
				<li>
					 <%= link_to "Sign out",signout_path, method: 'delete'%>
				</li>
				<%elsif authenticated?%>
				<li>
				 	<%= link_to current_user.profile.name, user_path(current_user)%>
				</li>
				<li>
					 <%= link_to "SignOut", facebook_path, :method => :delete %>
				</li>
				<%else%>
				<li>
					<%= link_to "Sign Up", signup_path%>
				</li>
				<!-- <li>
					Have an account
				</li> -->
				<li>
					<li><%= link_to "Login", "#login_form", :id =>"single_image", :class=>"fancybox" %></li>
				</li>
				<%end%>
			</ul>
		</div>
		<script type="text/javascript">
			$(document).ready(function() {
			$(".fancybox").fancybox();
			});	
		</script>
	</div>
</div>