<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml">
	<head>
		<title>GPL - <%= @title || "Check-in Games and Support Your Favourite Team" %></title>
		<meta property="fb:app_id" content="<%= Facebook.config[:client_id] %>">
		<%= stylesheet_link_tag "fancybox/jquery.fancybox-1.3.4"%>
		<%= stylesheet_link_tag    "application", media: "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<%= javascript_include_tag "fancybox/jquery.fancybox-1.3.4.pack" %>
		<%= javascript_include_tag "fancybox/jquery.mousewheel-3.0.4.pack"%>

	</head>

	<body>
		<%= render "layouts/nav" %>
		<div id="page">
			<%= render "layouts/msg" %>
			<%= render "layouts/facebook" %>
			<div id="main">
				<%= yield %>
				<%= render "layouts/footer"%>
				<%= debug(params) if Rails.env.development? %>
			</div>
		</div>
		<script src="http://connect.facebook.net/en_US/all.js"></script>
		<script>
			FB.init({
appId: "<%= Facebook.config[:client_id] %>
	",
	cookie: true,
	xfbml: true,
	oauth: true
	});
		</script>
		<script type="text/javascript">
			$(function () {<% if flash[:error] %>
	$.gritter.add({
title: "<%= flash[:error][:title] %>
	",
	text : "
<%= flash[:error][:message] %>
	",
	image: "
<%= flash[:error][:image] %>
	",
	time : 5000
	});
<% elsif flash[:notice] %>
	$.gritter.add({
title: "<%= flash[:notice][:title] %>
	",
	text : "
<%= flash[:notice][:message] %>
	",
	image: "
<%= flash[:notice][:image] %>
	",
	time : 3000
	});
<% end %>
	});
		</script>
		<!-- facebook like button -->
		<div id="fb-root"></div>
		<script>
			( function(d, s, id) {
					var js, fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id))
						return;
					js = d.createElement(s);
					js.id = id;
					js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=419666718130530";
					fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));
		</script>
		<!-- facebook like button end -->
		<div id="login_box" class="hide">
			<%= form_for("user", :url => signin_path, :html => {:id => "login_form"}) do |f| %>
			<fieldset>
				<legend>
					Login
				</legend>
				<p>
					<%= link_to "Sign in with Facebook", new_facebook_path(:facebook), :class => "facebook_connect_button" %>
				</p>
				<p>
					<%= f.label :email %>
					<br />
					<%= f.email_field :email %>
				</p>
				<p>
					<%= f.label :password %>
					<br />
					<%= f.password_field :password %>
				</p>

				<p>
					<%= f.submit "Sign in", :class => "grey_button" %> Not a member? <%= link_to "Sign up", signup_path %>
					<br />
				</p>

			</fieldset>
			<% end %>
		</div>
	</body>
</html>