<!DOCTYPE html>
<html>
	<head>
		<title>GPL - <%= @title || "Check-in Games and Support Your Favourite Team" %></title>

		<%= stylesheet_link_tag    "application", media: "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>

	<body>
		<%= render "layouts/nav" %>
		<div id="page">
			<%= render "layouts/msg" %>
			<%= render "layouts/sidebar" %>
			<div id="main">
				<%= yield %>
				<%= render "layouts/footer"%>
				<%= debug(params) if Rails.env.development? %>
			</div>
		</div>

	</body>
</html>
